	@charset "utf-8";
	@import url("large-media.css");
	/* CSS Document */


	@media(max-width:1350px) {
		.headerButtonBlock {
		&:hover {
			.headerSlider {
				top:50%;
				&.port {
					margin-left: -1em !important;
					-webkit-animation: slide-drop55L 0.8s;
					@include slide("drop55L", 30%, 50%, -2.6em, -1em, inherit, inherit);
				
				}
				&.contact {
					margin-right: -1em !important;
					-webkit-animation: slide-drop55R 0.8s;
					@include slide("drop55R", 30%, 50%, 0, 0, -2.6em, -1em);
				}
			}
		}
	}
		#websPane1>.row {
			margin-top: 15px;
		}
	}

	@media (max-width: 1299px) {
		.slideImg {
			margin-top: 10%;
		}
	}

	@media (max-width: 1249px) {
		.slideImg {
			margin-top: 15%;
		}
		#websPane1>.slideImg {
			margin-top: 2% !important;
		}
		#javaProj {
			padding-left: 1.5%
		}
	}

	@media (max-width: 1199px) {
		#appImgs {
			width: 400px;
			padding: 15px;
		}
		#appLinks {
			padding-top: 10px;
			width: 27%;
		}
		#appText {
			padding-top: 10px;
			width: 27%;
		}
		#appIm3 {
			display: none;
		}
		.column {
			width: 160px;
			margin-top: 0;
			padding-left: 22px !important;
		}
		.slideImg {
			margin-top: 4%;
		}
		#ipp1 {
			width: 53%;
			margin-left: 17%;
			margin-top: 2%;
		}
		#ipp2 {
			display: none;
		}
		#ipp3 {
			display: none;
		}
		#gamePane1 {
			text-align: right;
			width: 47%;
			padding-left: 0px;
		}
	}

	@media (max-width:1125px) {
		.headerButtonBlock {
			&:hover {
				.headerSlider {
					&.port {
						margin-left: 0em !important;
						left: 17% !important;
						top:50% !important;						
						@include slide("drop",
						30%,
						50%,
						0em,
						0em,
						inherit,
						inherit);
						-webkit-animation: slide-drop 1s;
					}
					&.contact {
						top:56% !important;
						 margin-right: 0em !important;
						@include slide("drop",
						30%,
						50%,
						inherit,
						inherit,
						0em,
						0em);
						-webkit-animation: slide-drop 1s;
					}
				}
			}
		} 
		#appText {
			padding-top: 0px;
		}
		#appLinks {
			padding-top: 0px;
		}
		.column {
			width: 160px;
			margin-top: 0;
			padding-left: 18px !important;
		}
		#javaProj {
			padding-left: 20%
		}
		#javaPaint {
			display: none;
		}
		#contactEnd {
			height: 110px;
		}
	}

	@media (max-width:1055px) {
		.headerContactSlider {
			right: 17%;
			top: 20%;
		}
		#homePane {
			width: auto;
			height: 100%;
		}
		#appImgs {
			width: 28%;
			padding: 10px;
		}
		#appText {
			width: 36%;
			padding-top: 0px;
			padding-right: 3%;
		}
		#appLinks {
			width: 36%;
			padding-top: 0px;
			padding-left: 3%;
		}
		.column {
			width: 170px;
			padding-left: 15% !important;
			padding-right: 15% !important;
		}
		.slideImg {
			margin-top: 8%;
		}
		#appIm2 {
			display: none;
		}
		#ipp1 {
			padding-right: 0px;
			margin-top: 0%;
			margin-left: 0px;
			padding-left: 19% !important;
			width: 220px !important;
		}
		#cvImg {
			width: 90%;
		}
		#gamePane1>p {
			padding-left: 20px;
			padding-top: 20px;
		}
		#clockPane {
			width: 44%;
		}
	}

	@media (max-width: 919px) {
		.headerButtonBlock {
		
			&:hover {
				.headerSlider {
					margin-left:1em;
					margin-right: 1em;
					&.port{
						left: 19% !important;
					}
					&.contact{
						right: 19% !important;
					}
					&.port,
					&.contact {
						@include slide("drop50s",
						30%,
						50%,
						inherit,
						inherit,
						inherit,
						inherit);
						-webkit-animation: slide-drop50s 0.8s;
					}
					
				}
			}
		}
		#appPane {
			flex-direction: row;
			flex-wrap: wrap;
		}
		#appText {
			width: 65%;
		}
		#appImgs {
			width: 26%;
			margin: 0;
			height: 440px;
		}
		#appLinks {
			float: left;
			margin-top: -205px;
			width: 65%;
		}
		#screenshots1 {
			display: none;
		}
		#screenshots2 {
			display: block;
		}
		.column {
			width: 85%;
			margin-top: 5%;
			margin-left: 0 auto;
			margin-right: 0 auto;
			padding-left: 0% !important;
			padding-right: 0% !important;
		}
		#appIm1 {
			margin-left: 7%;
			margin-right: 7%;
			padding-bottom: 2%;
			padding-left: 0% !important;
			padding-right: 0% !important;
		}
		#ipp1 {
			padding-right: 0px;
			margin-left: 0px;
			padding-left: 17% !important;
			width: 220px !important;
		}
		#gamePane1>p {
			padding-left: 0px;
			padding-top: 0px;
		}
		#gamePane1 {
			width: 90%;
			float: none;
			text-align: center;
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: 0%;
		}
		#gamePane1>img {
			width: 40%
		}
		#clockPane {
			width: 100%;
			padding: 0%;
			padding-top: 20px;
			float: none;
			margin-left: 0;
		}
		#clockPane>svg {
			left: 0;
		}
		#javaProj {
			padding-left: 14%
		}
		#contactEnd {
			height: 85px;
		}
	}

	@media (max-width: 879px) {
		#ipp1 {
			padding-right: 0px;
			margin-left: 0px;
			padding-left: 13% !important;
			width: 220px !important;
		}
	}

	@media (max-width: 855px) {
		#appImgs {
			height: 430px;
		}
		#appIm1 {
			padding-bottom: 10px;
		}
		.column {
			margin-top: 15%;
		}
		#appPane {
			border-bottom: 0;
		}
		#javaProj {
			padding-left: 10%
		}
	}

	@media (max-width: 749px) {
		.headerButtonBlock {
			&:hover {
				.headerSlider {
					&.port {
						margin-left: 0.5em !important;
						@include slide("right",
						40%,
						50%,
						0.2em,
						0.5em,
						inherit,
						inherit);
						-webkit-animation: slide-right 0.8s;
					}
					&.contact {
						 margin-right: 0.5em !important;
						@include slide("left",
						40%,
						50%,
						inherit,
						inherit,
						0.2em,
						0.5em);
						-webkit-animation: slide-left 0.8s;
					}
				}
			}
		} 
		#portHead {
			font-size: 2.2em;
		}
		#appText {
			width: 63%;
		}
		#appLinks {
			width: 62%;
		}
		#appImgs {
			width: 29%;
			height: 440px;
			padding-left: 0px;
			margin-left: 0;
		}
		.column {
			width: 90%;
			margin-top: 10%;
		}
		#ipp1 {
			padding-left: 9% !important;
			padding-right: 9% !important;
		}
		#websPane2>p {
			margin-top: 10px;
		}
		#javaProj {
			padding-left: 5%
		}
		#javaSkills {
			padding-left: 1%;
			padding-right: 1%;
			width: 20%;
		}
		#cvImg {
			width: 100%;
		}
	}

	@media only screen and (max-width:680px) and (orientation: portrait) {
		.headerButtonBlock {
			&:hover {
				.headerSlider {
					&.port {
						margin-left: 0.7em !important;
						top:56% !important;						
						@include slide("right",
						50%,
						56%,
						0em,
						0.7em,
						inherit,
						inherit);
						-webkit-animation: slide-right 1s;
					}
					&.contact {
						top:56% !important;
						 margin-right: 0.7em !important;
						@include slide("leftdown",
						50%,
						56%,
						inherit,
						inherit,
						0em,
						0.7em);
						-webkit-animation: slide-leftdown 1s;
					}
				}
			}
		} 
		.slideImg {
			margin-top: 20%;
		}
		#ipp1 {
			padding-left: 4% !important;
			padding-right: 5% !important;
			margin-top: -17%;
		}
		#websPane2>p {
			margin-top: 8px;
		}
		#websPane2 {
			padding-left: 0;
			padding-right: 25px;
			width: 45%;
		}
		#conLeftPane {
			width: 100%;
			height: auto;
			padding-bottom: 40px;
			margin-left: 0%;
		}
		.conText {
			padding-top: 50px;
		}
		#formPane {
			width: 84%;
			padding-bottom: 20px;
		}
		#formfieldset {
			margin-top: 1.6em;
		}
		.homeHeader {
			padding-top: 8%;
		}
		header {
			padding-top: 1.2em;
		}
	}

	@media (max-width:480px) {
		.headerButtonBlock {
			&:hover {
				.headerSlider {
					display: none;
				}
			}
		}
	}

	@media (max-width:350px) {
		.headerButtonBlock.homeHead {
			width: 30%;
		}
		#featured-content .flex-viewport {
			max-height: 2000px;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			transition: all 1s ease;
		}
		#gameText {
			display: none;
		}
		#gameFail {
			display: block;
		}
	}