/* CSS Document */
/* CSS Document */
@-webkit-keyframes pulse {
  0%,
  100% {
    box-shadow: 0 0 0 0; }
  55% {
    box-shadow: 0 0 0 0;
    border-radius: 50%; }
  40% {
    box-shadow: 0 0 10px #FDFEFC, inset 0 0 4px lightgray; }
  35% {
    border-radius: 10%; }
  20% {
    box-shadow: 0 0 20px #FDFEFC, inset 0 0 10px lightgray;
    border-radius: 50%; }
  10% {
    box-shadow: 0 0 10px #FDFEFC, inset 0 0 4px lightgray;
    border-radius: 50%; } }

@keyframes pulse2 {
  0% {
    box-shadow: 0 0 0 0;
    border-radius: 50%; }
  60% {
    box-shadow: 0 0 16px #FDFEFC, inset 0 0 8px lightgray;
    border-radius: 50%; }
  100% {
    box-shadow: 0 0 20px #FDFEFC, inset 0 0 8px lightgray;
    border-radius: 10%; } }

@keyframes drop {
  0% {
    margin-left: -1%;
    top: 50%; }
  100% {
    margin-left: 0%;
    top: 55%; } }

@keyframes shake {
  0% {
    margin-left: 1em; }
  30% {
    margin-left: -2em; }
  60% {
    margin-left: 0.6em; }
  100% {
    margin-top: 1em;
    margin-left: 0em; } }

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: 615px; }

body {
  font-family: 'Barlow', sans-serif;
  font-size: 1em;
  position: absolute;
  background-color: #5C1A1B; }
  body.contact {
    background-color: #222222; }
  body.portBody {
    line-height: 1.2em;
    background: #D8DAD3; }
    body.portBody p {
      font-size: 0.95rem; }
    body.portBody li {
      font-size: 0.9rem;
      letter-spacing: 0.4px; }
  body p {
    font-family: 'Roboto+Condensed', sans-serif;
    letter-spacing: 0.3px; }
  body .text {
    color: #FDFEFC;
    padding: 4%;
    padding-left: 8%;
    padding-right: 8%; }
  body spacer {
    width: 100%;
    height: 10.6em;
    display: block; }
    body spacer.port {
      height: 8em;
      background: #5c1a1b; }
  body h2 {
    font-size: 1.5em;
    background-color: #F1F2EB;
    border-top: 4px solid rgba(92, 26, 27, 0.8);
    margin-top: 0em;
    margin-bottom: 0;
    padding: 0.8em;
    text-align: center; }
  body h3 {
    font-size: 1.3rem; }
  body h4 {
    float: none;
    font-size: 1.3rem;
    display: inline;
    padding-left: 0.4em; }
  body h5 {
    font-family: 'Barlow', sans-serif;
    font-size: 1.1rem;
    margin-top: 0.6em;
    margin-bottom: 0.6em; }
  body a.link {
    font-weight: bold;
    color: inherit;
    font-size: inherit;
    padding: 0;
    text-decoration: none; }
    body a.link:hover {
      text-decoration: underline; }
    body a.link:visited {
      text-decoration: none; }

header {
  position: fixed;
  z-index: 5;
  height: 7.3em;
  width: 100%;
  min-width: 615px;
  margin: 0 auto;
  align-items: center;
  padding-top: 1%;
  top: 0;
  background-color: rgba(92, 26, 27, 0.9);
  border-bottom: 2px solid #F1F2EB;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center; }
  header.homeHeader {
    height: 11em;
    border-bottom: 0;
    background-color: rgba(92, 26, 27, 0.6); }
  header .name {
    margin: 0 auto;
    flex: 1;
    text-align: center;
    font-size: 2em;
    color: #FDFEFC;
    text-decoration: none !important; }
    header .name span {
      font-weight: bolder;
      font-size: 1.2em; }
  header .headerButtonBlock {
    width: 20%;
    height: 100%; }
    header .headerButtonBlock .headerButtonContent {
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      margin-top: 10px;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      -webkit-animation: pulse 4s linear 1s infinite;
      font-size: 3rem;
      z-index: 3; }
      header .headerButtonBlock .headerButtonContent.home {
        height: 100px;
        width: 100px;
        margin-top: 12%;
        font-size: 3.4rem; }
      header .headerButtonBlock .headerButtonContent.active {
        -webkit-animation: none;
        cursor: context-menu; }
      header .headerButtonBlock .headerButtonContent .headerPortText {
        text-align: center;
        width: 80px;
        height: 48px;
        opacity: 0.5;
        color: #FDFEFC;
        margin: 0 auto;
        padding-top: 21px;
        padding-bottom: 20px;
        line-height: 48px;
        font-size: 3rem; }
        header .headerButtonBlock .headerButtonContent .headerPortText.home {
          padding-top: 28px; }
          header .headerButtonBlock .headerButtonContent .headerPortText.home span {
            font-size: 3.1rem; }
        header .headerButtonBlock .headerButtonContent .headerPortText span {
          font-size: 2.85rem;
          font-weight: 500; }
      header .headerButtonBlock .headerButtonContent .headerContactImg {
        width: 48px;
        text-align: center;
        opacity: 0.5;
        color: #FDFEFC;
        margin: 0 auto;
        padding-top: 21px;
        padding-bottom: 20px; }
        header .headerButtonBlock .headerButtonContent .headerContactImg.home {
          padding-top: 28px; }
    header .headerButtonBlock .headerSlider {
      font-size: 1.4rem;
      font-weight: 500;
      text-align: center;
      display: none;
      color: lightgrey;
      z-index: 2;
      letter-spacing: 3px; }
      header .headerButtonBlock .headerSlider.port {
        position: absolute; }
      header .headerButtonBlock .headerSlider.contact {
        position: absolute; }
    header .headerButtonBlock:hover .headerSlider {
      display: block; }
      header .headerButtonBlock:hover .headerSlider.home {
        -webkit-animation: shake 0.8s; }
      header .headerButtonBlock:hover .headerSlider.port, header .headerButtonBlock:hover .headerSlider.contact {
        top: 50%; }
      header .headerButtonBlock:hover .headerSlider.port {
        left: 19%;
        margin-left: 0%; }
      header .headerButtonBlock:hover .headerSlider.contact {
        right: 19%;
        margin-right: 0%; }
    header .headerButtonBlock:hover .headerButtonContent {
      -webkit-animation: pulse2 0.8s;
      box-shadow: 0 0 20px #FDFEFC, inset 0 0 8px lightgray;
      border-radius: 10%; }
      header .headerButtonBlock:hover .headerButtonContent.active {
        box-shadow: 0 0 0 0 !important;
        -webkit-animation: none; }
      header .headerButtonBlock:hover .headerButtonContent .headerPortText {
        opacity: 0.8; }
      header .headerButtonBlock:hover .headerButtonContent .headerContactImg {
        opacity: 1; }

/* CSS Document */
@keyframes grow {
  0% {
    font-size: 1em;
    line-height: 1em;
    background-color: none;
    border-bottom: 0px solid #FDFEFC; }
  20% {
    margin-left: 1.6em; }
  100% {
    font-size: 1.2em;
    margin-left: 0em;
    line-height: 1.4em;
    background-color: rgba(92, 26, 27, 0.4);
    padding: 0.15em;
    border-bottom: 2px solid #FDFEFC; } }

#homeBkg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.2;
  background-size: cover;
  background-image: url(img/pebbles.JPG); }

.homeTemp {
  width: 95%;
  z-index: 0;
  color: #FDFEFC;
  padding-top: 8.4em;
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  line-height: 1.4em;
  transform: translateY(20);
  transition: all .5s .5s; }
  .homeTemp .linkGrow {
    text-decoration: none;
    color: inherit; }
    .homeTemp .linkGrow:hover {
      animation-name: grow;
      animation-duration: 1.5s;
      border-radius: 10px;
      animation-fill-mode: forwards; }

/* CSS Document */
@-moz-keyframes vertical {
  0% {
    opacity: 0; }
  2% {
    opacity: 0.4;
    -moz-transform: rotateX(180deg); }
  5% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  45% {
    opacity: 1;
    -moz-transform: translateY(0px); }
  50% {
    opacity: 0;
    -moz-transform: translateY(25px); }
  100% {
    opacity: 0; } }

@-webkit-keyframes vertical {
  0% {
    opacity: 0; }
  2% {
    opacity: 0.5;
    -webkit-transform: rotateX(180deg); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  45% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  50% {
    opacity: 0;
    -webkit-transform: translateY(25px); }
  100% {
    opacity: 0; } }

@-ms-keyframes vertical {
  0% {
    opacity: 0; }
  2% {
    opacity: 0.4;
    -ms-transform: rotateX(180deg); }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  45% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  50% {
    opacity: 0;
    -ms-transform: translateY(25px); }
  100% {
    opacity: 0; } }

@-moz-keyframes horizontal {
  0% {
    opacity: 0; }
  5% {
    opacity: 0.4;
    -moz-transform: translateX(2em); }
  40% {
    opacity: 0.8;
    -moz-transform: translateX(0px); }
  60% {
    opacity: 1;
    -moz-transform: translateX(-1em); }
  70% {
    opacity: 1;
    -moz-transform: translateX(0em); }
  100% {
    opacity: 1; } }

@-webkit-keyframes horizontal {
  0% {
    opacity: 0; }
  5% {
    opacity: 0.4;
    -webkit-transform: translateX(2em); }
  40% {
    opacity: 0.8;
    -webkit-transform: translateX(0px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(-1em); }
  70% {
    opacity: 1;
    -webkit-transform: translateX(0em); }
  100% {
    opacity: 1; } }

@-ms-keyframes horizontal {
  0% {
    opacity: 0; }
  5% {
    opacity: 0.4;
    -ms-transform: translateX(2em); }
  40% {
    opacity: 0.8;
    -ms-transform: translateX(0px); }
  60% {
    opacity: 1;
    -ms-transform: translateX(-1em); }
  70% {
    opacity: 1;
    -ms-transform: translateX(0em); }
  100% {
    opacity: 1; } }

@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }
  50% {
    opacity: 0.8; }
  100% {
    opacity: 1; } }

.parallax {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  top: 0%;
  z-index: -1;
  opacity: 0.8; }
  .parallax#para1 {
    background-image: url(img/bricks.jpeg); }
  .parallax#para2 {
    background-image: url(img/wires.jpeg);
    opacity: 0.5; }
  .parallax#para3 {
    background-image: url(img/tree.jpeg);
    opacity: 0.4; }
  .parallax#para4 {
    background-image: url(img/type.jpg); }

#portTop {
  width: 100%;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-right: 0%;
  color: #080808;
  position: relative; }
  #portTop::after {
    content: "";
    background-image: url(img/bricks.jpeg);
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    z-index: -1; }
  #portTop #portHead {
    font-size: 1.8em;
    width: 70%;
    margin-left: 30%;
    font-weight: 600;
    line-height: 0.8em;
    padding-bottom: 1.4em;
    animation: horizontal 2s;
    -ms-animation: horizontal 2s;
    -webkit-animation: horizontal 2s; }
  #portTop #portHead2 {
    font-size: 2.4em;
    width: 100%;
    margin: 0;
    font-weight: 600;
    text-align: center;
    line-height: 0.8em;
    animation: fadeIn 2s;
    -ms-animation: fadeIn 2s;
    -webkit-animation: fadeIn 2s; }

.verticalFlip {
  display: inline;
  text-indent: 6px; }
  .verticalFlip span {
    animation: vertical 6s linear infinite 0s;
    -ms-animation: vertical 6s linear infinite 0s;
    -webkit-animation: vertical 6s linear infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    margin-left: 0px !important;
    line-height: 0.8em; }
    .verticalFlip span:nth-child(1) {
      animation-delay: 0s;
      -ms-animation-delay: 0s;
      -webkit-animation-delay: 0s; }
    .verticalFlip span:nth-child(2) {
      animation-delay: 3s;
      -ms-animation-delay: 3s;
      -webkit-animation-delay: 3s; }

#appPane {
  background-color: #D8DAD3;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  border: #FDFEFC 0.2em solid;
  box-shadow: 0px 25px 60px -25px #FDFEFC; }
  #appPane .appBlock {
    padding-top: 0px;
    height: auto;
    vertical-align: top;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%; }
    #appPane .appBlock#appText {
      width: 25%;
      order: 1; }
    #appPane .appBlock#appImgs {
      padding: 2%;
      background-color: #F1F2EB;
      flex: 1;
      order: 2;
      display: flex;
      align-items: center;
      text-align: center;
      box-shadow: 0px 0px 0px 6px rgba(179, 179, 179, 0.8);
      border-radius: 0.1em; }
    #appPane .appBlock#appLinks {
      width: 25%;
      order: 3;
      font-family: 'Roboto+Condensed', sans-serif; }
      #appPane .appBlock#appLinks .bold {
        font-weight: 600; }

#websPane {
  width: 100%;
  margin: 0 auto;
  display: flex;
  box-shadow: 0px 25px 60px -25px black; }
  #websPane #websPane1 {
    width: 44%;
    flex: 1;
    display: block;
    background-color: #D8DAD3;
    padding: 3%;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-top: 1%;
    color: #020202; }
    #websPane #websPane1 p {
      margin-bottom: 0px; }
  #websPane #websPane2 {
    flex: 1;
    background-color: #5C1A1B;
    width: 44%;
    color: #FDFEFC;
    display: block;
    padding: 3%;
    padding-top: 0;
    text-align: center;
    box-shadow: -2px 0px 4px 0px #5C1A1B; }
    #websPane #websPane2 h3 {
      font-size: 1.4rem;
      padding-bottom: 2%; }
    #websPane #websPane2 img {
      display: block;
      border-radius: 4px;
      width: 55%;
      min-width: 220px;
      margin: 0 auto;
      margin-top: 4%;
      margin-bottom: 4%; }

#animationPane {
  display: table;
  width: 100%;
  font-size: 1.1em;
  background-color: #F1F2EB;
  box-shadow: 0px 25px 60px -25px black;
  border-radius: 15px;
  padding-top: 1em; }
  #animationPane #clockPane {
    width: 38%;
    color: #020202;
    display: block;
    text-align: center;
    padding: 4%;
    padding-right: 0;
    float: left;
    background-color: #F1F2EB; }
    #animationPane #clockPane p {
      margin-bottom: 0px; }
    #animationPane #clockPane svg {
      margin: 0 auto;
      z-index: 1;
      margin-top: 2%;
      margin-bottom: 2%;
      box-shadow: 0 0 10px 6px #020202; }
  #animationPane #gamePane1 {
    width: 46%;
    color: #020202;
    text-align: center;
    display: block;
    float: right;
    margin: 3%;
    margin-left: 0;
    padding: 1%; }
    #animationPane #gamePane1 img {
      width: 80%;
      margin: 0 auto; }

#javaPane {
  display: block;
  width: 96%;
  margin: 0 auto;
  padding: 2%;
  color: #FDFEFC;
  line-height: 1.2em;
  background: rgba(92, 26, 27, 0.95);
  border-bottom: 10px solid #F1F2EB; }
  #javaPane p {
    text-align: center;
    width: 73%;
    padding-bottom: 1em;
    padding-top: 1em;
    margin: 0 auto; }
  #javaPane #javaTable {
    width: 100%;
    position: relative;
    margin: 0 auto;
    margin-top: 1em;
    display: table; }
    #javaPane #javaTable #projectsBlock,
    #javaPane #javaTable #paintBlock,
    #javaPane #javaTable #skillsBlock {
      font-size: 0.95rem;
      display: table-cell;
      vertical-align: top;
      width: 25%; }
      #javaPane #javaTable #projectsBlock i,
      #javaPane #javaTable #paintBlock i,
      #javaPane #javaTable #skillsBlock i {
        padding-left: 10px; }
      #javaPane #javaTable #projectsBlock h4,
      #javaPane #javaTable #paintBlock h4,
      #javaPane #javaTable #skillsBlock h4 {
        padding-left: 0.5em; }
    #javaPane #javaTable #projectsBlock {
      height: auto;
      padding-left: 3%;
      padding-right: 2%;
      bottom: 0;
      padding-top: 3%;
      font-size: 0.9em; }
    #javaPane #javaTable #paintBlock {
      background-color: #F1F2EB;
      max-height: 11em;
      box-shadow: 0 0 10px 4px grey;
      border-radius: 0.2em;
      margin: 0;
      padding: 0;
      padding-top: 0; }
      #javaPane #javaTable #paintBlock img {
        width: 99%; }
    #javaPane #javaTable #skillsBlock {
      padding-right: 3%;
      padding-top: 3%;
      padding-left: 3%; }

/* CSS Document */
#gameText {
  font-size: 1.2em;
  color: #FDFEFC;
  padding-top: 0.5em;
  padding-top: 0.5em;
  margin-bottom: 3%;
  text-align: center;
  display: block; }

#gamePane {
  width: 725px;
  margin: 0 auto;
  margin-bottom: 5%;
  display: block;
  height: 400px; }
  #gamePane #gameFail {
    font-size: 1.2em;
    color: #FDFEFC;
    padding-top: 3.5em;
    margin-bottom: 1em;
    margin: 1.2em;
    text-align: center;
    display: none; }
  #gamePane video {
    position: absolute; }
  #gamePane canvas {
    border: 10px solid #000000;
    position: absolute; }

/* CSS Document */
#contactBkg {
  width: 100%;
  height: 100%;
  top: 0;
  position: fixed;
  opacity: 0.2;
  background-size: cover;
  background-image: url(img/typewriter.jpg); }

#formPane {
  font-size: 1.12em;
  margin: 5%;
  display: flex; }
  #formPane .textBlock {
    width: 40%;
    margin: 5%; }
    #formPane .textBlock p {
      margin: 0 auto;
      padding-bottom: 0.8em;
      color: #FDFEFC;
      font-size: 1.4rem;
      position: relative;
      letter-spacing: 1.2px; }
      #formPane .textBlock p#hello {
        font-size: 1.7rem; }
    #formPane .textBlock #linkedInText {
      position: relative; }
      #formPane .textBlock #linkedInText img {
        width: 5em;
        margin-left: 0.4em;
        bottom: 0.9em;
        position: absolute; }
  #formPane .formBlock {
    flex: 1; }
    #formPane .formBlock #formfieldset {
      border-radius: 1em;
      margin-top: 0.8em;
      position: relative;
      background-color: rgba(233, 232, 232, 0.15);
      width: 11em;
      margin: 0 auto;
      border: 0;
      height: 230px;
      padding: 2em;
      box-shadow: 0 0 20px 2px dimgrey; }
      #formPane .formBlock #formfieldset #form {
        position: relative;
        margin-top: 0.4em;
        color: dimgray; }
        #formPane .formBlock #formfieldset #form .contactField {
          display: flex;
          font-size: 1rem;
          font-family: 'Josefin Sans', sans-serif !important; }
          #formPane .formBlock #formfieldset #form .contactField .formLabel {
            flex: 1;
            line-height: 1.5em;
            text-align: right;
            padding-right: 0.8em;
            font-weight: 600;
            color: #FDFEFC; }
          #formPane .formBlock #formfieldset #form .contactField #name,
          #formPane .formBlock #formfieldset #form .contactField #email {
            text-indent: 3%;
            width: 14em;
            height: 1.6em;
            border-radius: 0.7em; }
          #formPane .formBlock #formfieldset #form .contactField #message {
            width: 13em;
            padding: 0.5em;
            height: 5em;
            border-radius: 0.6em; }
        #formPane .formBlock #formfieldset #form .submit {
          right: 0;
          width: 5.6em;
          height: 2em;
          position: absolute;
          border-color: rgba(255, 255, 255, 0.8);
          background-color: rgba(39, 34, 30, 0.9);
          color: #FDFEFC;
          border-radius: 1em;
          font-family: 'Josefin Sans', sans-serif !important;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.8em; }

/* CSS Document */
.refs .accordion .accordion-item .icon:before, .refs .accordion .accordion-item .icon:after {
  content: '';
  width: 1.25rem;
  height: 0.25rem;
  background: #D8DAD3;
  position: absolute;
  border-radius: 3px;
  left: 50%;
  top: 50%;
  transition: 0.3s ease-in-out;
  transform: translate(-50%, -50%); }

#refsBkg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  opacity: 0.2;
  background-size: cover;
  background-image: url(img/pebbles.JPG); }

.refs {
  width: 70%;
  float: left;
  padding-left: 14%;
  color: white; }
  .refs .accordion {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto; }
    .refs .accordion .accordion-item {
      position: relative; }
      .refs .accordion .accordion-item.active .heading {
        color: #FDFEFC; }
      .refs .accordion .accordion-item.active .icon {
        background: #F1F2EB; }
        .refs .accordion .accordion-item.active .icon:before {
          background: #D8DAD3; }
        .refs .accordion .accordion-item.active .icon:after {
          background: #D8DAD3;
          width: 0; }
      .refs .accordion .accordion-item .heading {
        display: block;
        text-transform: uppercase;
        text-decoration: none;
        color: #D8DAD3;
        font-weight: 700;
        font-size: 1.5rem;
        position: relative;
        padding: 1.5rem 0 1.5rem 4rem;
        transition: 0.3s ease-in-out; }
        .refs .accordion .accordion-item .heading .title {
          padding-top: 2px; }
        .refs .accordion .accordion-item .heading:hover {
          color: #FDFEFC; }
          .refs .accordion .accordion-item .heading:hover .icon:before {
            background: #D8DAD3; }
          .refs .accordion .accordion-item .heading:hover .icon:after {
            background: #FDFEFC; }
      .refs .accordion .accordion-item .icon {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 2.8rem;
        height: 2.8rem;
        border: 2px solid #F1F2EB;
        border-radius: 3px;
        transform: translateY(-50%); }
        .refs .accordion .accordion-item .icon:after {
          transform: translate(-50%, -50%) rotate(90deg);
          z-index: -1; }
      .refs .accordion .accordion-item .content {
        display: none; }
        .refs .accordion .accordion-item .content p {
          margin-top: 0; }
        .refs .accordion .accordion-item .content ul li {
          line-height: 34px;
          font-size: 1.3rem;
          font-weight: 300;
          margin-left: 20px;
          padding-left: 4px; }
        .refs .accordion .accordion-item .content ul {
          -webkit-margin-before: 0em; }

/* Media queries for accordian only */
@media only screen and (min-width: 775px) {
  .refs {
    width: 36%;
    padding-left: 12%; }
  .accordion-item .heading {
    font-size: 1.2rem; }
  .content > ul li {
    line-height: 20px;
    font-size: 1rem; }
  .accordion-item .content p ul li {
    line-height: 30px; } }

@media only screen and (min-width: 450px) and (max-width: 749px) {
  .refs {
    width: 70%;
    padding-left: 12%; }
  .accordion-item .heading {
    font-size: 1.3rem; }
  .content > ul li {
    line-height: 22px;
    font-size: 1.1rem; }
  .accordion-item .content p ul li {
    line-height: 30px; } }

/* CSS Document */
.row {
  width: 100%;
  display: flex; }
  .row.webs {
    margin-top: 5%; }
  .row .column {
    padding-left: 3%;
    padding-right: 3%;
    width: 30%; }
  .row:after {
    content: "";
    display: table;
    margin: 0 auto;
    clear: both; }

.slideImg {
  width: 100%;
  box-shadow: 0 0 10px 4px grey;
  border-radius: 4px;
  margin-top: 2%; }

#screenshots2 {
  display: none;
  font-size: 1em;
  width: 80%;
  margin: 0 auto; }

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 110px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #020202; }

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px; }

/* The Close Button */
.close {
  color: #FDFEFC;
  position: fixed;
  right: 58px;
  font-size: 40px;
  z-index: 4;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer; }

.mySlides {
  display: none;
  background-color: #020202; }
  .mySlides .sliderImg {
    width: 80%;
    max-width: 300px; }

.mySlides2 {
  display: none;
  text-align: center;
  background-color: #020202; }
  .mySlides2 .sliderImg {
    width: 80%;
    max-width: 700px; }

.cursor {
  cursor: pointer; }

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #FDFEFC;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none; }

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px; }

.prev {
  left: 0;
  border-radius: 3px 0 0 3px; }

/* On hover, add a #020202 background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8); }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0; }

.caption-container {
  text-align: center;
  background-color: #020202;
  padding: 2px 16px;
  color: #FDFEFC; }

.demo {
  opacity: 0.6; }

.active,
.demo:hover {
  opacity: 1; }

img.hover-shadow {
  transition: 0.3s; }

.hover-shadow:hover {
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3); }

/* CSS Document */
@media (max-width: 1350px) {
  .headerButtonBlock:hover .headerSlider {
    top: 50%; }
    .headerButtonBlock:hover .headerSlider.port {
      margin-left: -1em !important;
      -webkit-animation: slide-drop55L 0.8s; }
  @keyframes slide-drop55L {
    0% {
      top: 30%;
      margin-left: -2.6em;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: -1em;
      margin-right: inherit;
      letter-spacing: 3px; } }
    .headerButtonBlock:hover .headerSlider.contact {
      margin-right: -1em !important;
      -webkit-animation: slide-drop55R 0.8s; }
  @keyframes slide-drop55R {
    0% {
      top: 30%;
      margin-left: 0;
      margin-right: -2.6em;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: 0;
      margin-right: -1em;
      letter-spacing: 3px; } } }

@media (max-width: 1199px) {
  #portTop::after {
    background-attachment: unset; }
  .row .column {
    width: 44%; }
    .row .column#appIm3 {
      display: none; }
    .row .column#ipp3 {
      display: none; }
  #animationPane #gamePane1 {
    text-align: right;
    width: 46%; } }

@media (max-width: 1125px) {
  .headerButtonBlock:hover .headerSlider.port {
    margin-left: 0em !important;
    left: 17% !important;
    top: 50% !important;
    -webkit-animation: slide-drop 1s; }
  @keyframes slide-drop {
    0% {
      top: 30%;
      margin-left: 0em;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: 0em;
      margin-right: inherit;
      letter-spacing: 3px; } }
  .headerButtonBlock:hover .headerSlider.contact {
    top: 56% !important;
    margin-right: 0em !important;
    -webkit-animation: slide-drop 1s; }
  @keyframes slide-drop {
    0% {
      top: 30%;
      margin-left: inherit;
      margin-right: 0em;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: inherit;
      margin-right: 0em;
      letter-spacing: 3px; } }
  #javaPane #javaTable #projectsBlock {
    padding-left: 20%; }
  #javaPane #javaTable #paintBlock {
    display: none; } }

@media (max-width: 1055px) {
  .headerContactSlider {
    right: 17%;
    top: 20%; }
  #homePane {
    width: auto;
    height: 100%; }
  #appPane .appBlock#appText, #appPane .appBlock#appLinks {
    width: 30%; }
  #appPane .appBlock#appImgs {
    padding: 1%; }
  .row {
    display: block;
    margin-left: 0%; }
    .row .column {
      width: 60%;
      margin: 0 auto; }
      .row .column#ipp1 {
        width: 55%; }
      .row .column#appIm2 {
        display: none; }
      .row .column#ipp2 {
        display: none; }
  #animationPane #clockPane {
    width: 44%; }
  #animationPane #gamePane1 p {
    padding: 2%; } }

@media (max-width: 919px) {
  .headerButtonBlock:hover .headerSlider {
    margin-left: 1em;
    margin-right: 1em; }
    .headerButtonBlock:hover .headerSlider.port {
      left: 19% !important; }
    .headerButtonBlock:hover .headerSlider.contact {
      right: 19% !important; }
    .headerButtonBlock:hover .headerSlider.port, .headerButtonBlock:hover .headerSlider.contact {
      -webkit-animation: slide-drop50s 0.8s; }
  @keyframes slide-drop50s {
    0% {
      top: 30%;
      margin-left: inherit;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: inherit;
      margin-right: inherit;
      letter-spacing: 3px; } }
  #portTop::after {
    background-size: 120%; }
  #portTop #portHead {
    margin-left: 25%; }
  #appPane {
    margin-right: 25%;
    flex-direction: column; }
    #appPane .appBlock#appText {
      width: 63%; }
    #appPane .appBlock#appImgs {
      display: block;
      position: absolute;
      right: 0;
      width: 28%;
      height: 520px; }
    #appPane .appBlock#appLinks {
      width: 63%;
      margin-bottom: 1em; }
  #screenshots1 {
    display: none; }
  #screenshots2 {
    display: block;
    margin-top: 6%; }
  .row.webs {
    width: 100%;
    display: flex;
    margin-bottom: 2%; }
    .row.webs .column {
      padding-left: 3%;
      padding-right: 3%;
      width: 30%; }
      .row.webs .column#ipp1 {
        width: 44%; }
      .row.webs .column#ipp2 {
        display: block; }
      .row.webs .column#ipp3 {
        display: block; }
  .row.app .column {
    width: 85%;
    margin-top: 5%;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-left: 0% !important;
    padding-right: 0% !important; }
    .row.app .column#appIm1 {
      padding-bottom: 2%; }
  #websPane {
    display: block; }
    #websPane #websPane1 {
      width: 100%;
      padding-left: 8%;
      padding-right: 8%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
    #websPane #websPane2 {
      padding: 3% 8% 3% 8%;
      width: 84%;
      box-shadow: -2px -2px 2px 2px #5C1A1B; }
  #animationPane #clockPane {
    width: 100%;
    padding: 0%;
    padding-top: 20px;
    float: none;
    margin-left: 0; }
    #animationPane #clockPane svg {
      left: 0; }
  #animationPane #gamePane1 {
    width: 92%;
    margin-left: 3%;
    float: none;
    text-align: center;
    background-color: #D8DAD3;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 1px dimgrey; }
    #animationPane #gamePane1 img {
      width: 60%; }
  #javaPane #javaTable #projectsBlock {
    padding-left: 14%; } }

@media (max-width: 855px) {
  .parallax {
    background-attachment: unset; }
  .row.app {
    margin-top: 15%; }
  #javaPane #projectsBlock #javaTable {
    padding-left: 10%; }
  #contactBkg {
    opacity: 0.2; }
  #formPane {
    display: block; }
    #formPane .textBlock {
      width: 90%; } }

@media (max-width: 749px) {
  .headerButtonBlock:hover .headerSlider.port {
    margin-left: 0.5em !important;
    -webkit-animation: slide-right 0.8s; }
  @keyframes slide-right {
    0% {
      top: 40%;
      margin-left: 0.2em;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: 0.5em;
      margin-right: inherit;
      letter-spacing: 3px; } }
  .headerButtonBlock:hover .headerSlider.contact {
    margin-right: 0.5em !important;
    -webkit-animation: slide-left 0.8s; }
  @keyframes slide-left {
    0% {
      top: 40%;
      margin-left: inherit;
      margin-right: 0.2em;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: inherit;
      margin-right: 0.5em;
      letter-spacing: 3px; } }
  #portTop {
    padding-top: 4em;
    padding-bottom: 4em; }
    #portTop #portHead {
      margin-left: 25%;
      font-size: 1.5rem; }
    #portTop #portHead2 {
      font-size: 1.8rem; }
  #appPane .appBlock#appImgs {
    height: 558px; }
  #javaPane #javaTable #projectsBlock {
    padding-left: 5%; }
  #javaPane #javaTable #skillsBlock {
    padding-left: 1%;
    padding-right: 1%;
    width: 16%; }
  .row.app {
    margin-top: 40%; }
    .row.app .column {
      width: 90%;
      margin-top: 10%; }
  .row.webs#ipp1 {
    width: 65%; } }

@media only screen and (max-width: 680px) and (orientation: portrait) {
  .headerButtonBlock:hover .headerSlider.port {
    margin-left: 0.7em !important;
    top: 56% !important;
    -webkit-animation: slide-right 1s; }
  @keyframes slide-right {
    0% {
      top: 50%;
      margin-left: 0em;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 56%;
      margin-left: 0.7em;
      margin-right: inherit;
      letter-spacing: 3px; } }
  .headerButtonBlock:hover .headerSlider.contact {
    top: 56% !important;
    margin-right: 0.7em !important;
    -webkit-animation: slide-leftdown 1s; }
  @keyframes slide-leftdown {
    0% {
      top: 50%;
      margin-left: inherit;
      margin-right: 0em;
      letter-spacing: 0px; }
    100% {
      top: 56%;
      margin-left: inherit;
      margin-right: 0.7em;
      letter-spacing: 3px; } }
  #formfieldset {
    margin-top: 1.6em; }
  .homeHeader {
    padding-top: 8%; }
  header {
    padding-top: 1.2em; } }

@media (max-width: 480px) {
  .headerButtonBlock:hover .headerSlider {
    display: none; } }

@media (max-width: 350px) {
  .headerButtonBlock.homeHead {
    width: 30%; }
  #featured-content .flex-viewport {
    max-height: 2000px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease; }
  #gameText {
    display: none; }
  #gameFail {
    display: block; } }

/* CSS Document */
@media (min-width: 1351px) {
  body {
    font-size: 1.05em; }
  .headerButtonBlock:hover .headerSlider.port {
    margin-left: -1em !important;
    -webkit-animation: slide-drop55L 0.8s; }
  @keyframes slide-drop55L {
    0% {
      top: 30%;
      margin-left: -3em;
      margin-right: inherit;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: -1em;
      margin-right: inherit;
      letter-spacing: 3px; } }
  .headerButtonBlock:hover .headerSlider.contact {
    margin-right: -1em !important;
    -webkit-animation: slide-drop55R 0.8s; }
  @keyframes slide-drop55R {
    0% {
      top: 30%;
      margin-left: 0;
      margin-right: -3em;
      letter-spacing: 0px; }
    100% {
      top: 50%;
      margin-left: 0;
      margin-right: -1em;
      letter-spacing: 3px; } }
  .row {
    width: 100%;
    display: flex; }
    .row.webs {
      margin-top: 7%; } }

@media (min-width: 1580px) {
  body {
    font-size: 1.22em; } }

@media (min-width: 1920px) {
  body {
    font-size: 1.45em; } }

@media (min-width: 2500px) {
  body {
    font-size: 1.92em; } }

@media (min-width: 3100px) {
  body {
    font-size: 2.4em; } }

@media (min-width: 4000px) {
  body {
    font-size: 3.2em; } }

@media (min-width: 5000px) {
  body {
    font-size: 4.2em; } }
