@charset "utf-8";

/* CSS Document */

//colors
$white: #FDFEFC;
$offWhite: #F1F2EB;
$grey: #D8DAD3;
//@extend-elements
%extend_1 {
    content: '';
    width: 1.25rem;
    height: 0.25rem;
    background: $grey;
    position: absolute;
    border-radius: 3px;
    left: 50%;
    top: 50%;
    transition: 0.3s ease-in-out;
    transform: translate(-50%, -50%);
}

.refs {
    width: 70%;
    float: left;
    padding-left: 14%;
    color: white;
    .accordion {
        width: 100%;
        max-width: 75rem;
        margin: 0 auto;
        .accordion-item {
            position: relative;
            &.active {
                .heading {
                    color: $white;
                }
                .icon {
                    background: $offWhite;
                    &:before {
                        background: $grey;
                    }
                    &:after {
                        background: $grey;
                        width: 0;
                    }
                }
            }
            .heading {
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                color: $grey;
                font-weight: 700;
                font-size: 1.5rem;
                position: relative;
                padding: 1.5rem 0 1.5rem 4rem;
                transition: 0.3s ease-in-out;
                .title {
                    padding-top: 2px;
                }
                &:hover {
                    color: $white;
                    .icon {
                        &:before {
                            background: $grey;
                        }
                        &:after {
                            background: $white;
                        }
                    }
                }
            }
            .icon {
                display: block;
                position: absolute;
                top: 50%;
                left: 0;
                width: 2.8rem;
                height: 2.8rem;
                border: 2px solid $offWhite;
                border-radius: 3px;
                transform: translateY(-50%);
                &:before {
                    @extend %extend_1;
                }
                &:after {
                    @extend %extend_1;
                    transform: translate(-50%, -50%) rotate(90deg);
                    z-index: -1;
                }
            }
            .content {
                display: none;
                p {
                    margin-top: 0;
                }
                ul li {
                    line-height: 34px;
                    font-size: 1.3rem;
                    font-weight: 300;
                    margin-left: 20px;
                    padding-left: 4px
                }
                ul {
                    -webkit-margin-before: 0em;
                }
            }
        }
    }
}


/* Media queries for accordian only */

@media only screen and (min-width: 775px) {
    .refs {
        width: 40%;
        padding-left: 8%;
    }
    .accordion-item .heading {
        font-size: 1.2rem;
    }
    .content>ul li {
        line-height: 20px;
        font-size: 1rem;
    }
    .accordion-item .content p ul li {
        line-height: 30px;
    }
}

@media only screen and (min-width: 450px) and (max-width: 749px) {
    .refs {
        width: 70%;
        padding-left: 12%;
    }
    .accordion-item .heading {
        font-size: 1.3rem;
    }
    .content>ul li {
        line-height: 22px;
        font-size: 1.1rem;
    }
    .accordion-item .content p ul li {
        line-height: 30px;
    }
}