	@charset "utf-8";
	/* CSS Document */

	@-moz-keyframes vertical {
		0% {
			opacity: 0;
		}
		2% {
			opacity: 0.4;
			-moz-transform: rotateX(180deg);
		}
		5% {
			opacity: 1;
			-moz-transform: translateY(0px);
		}
		45% {
			opacity: 1;
			-moz-transform: translateY(0px);
		}
		50% {
			opacity: 0;
			-moz-transform: translateY(25px);
		}
		100% {
			opacity: 0;
		}
	}

	@-webkit-keyframes vertical {
		0% {
			opacity: 0;
		}
		2% {
			opacity: 0.5;
			-webkit-transform: rotateX(180deg);
		}
		5% {
			opacity: 1;
			-webkit-transform: translateY(0px);
		}
		45% {
			opacity: 1;
			-webkit-transform: translateY(0px);
		}
		50% {
			opacity: 0;
			-webkit-transform: translateY(25px);
		}
		100% {
			opacity: 0;
		}
	}

	@-ms-keyframes vertical {
		0% {
			opacity: 0;
		}
		2% {
			opacity: 0.4;
			-ms-transform: rotateX(180deg);
		}
		5% {
			opacity: 1;
			-ms-transform: translateY(0px);
		}
		45% {
			opacity: 1;
			-ms-transform: translateY(0px);
		}
		50% {
			opacity: 0;
			-ms-transform: translateY(25px);
		}
		100% {
			opacity: 0;
		}
	}

	@-moz-keyframes horizontal {
		0% {
			opacity: 0;
		}
		5% {
			opacity: 0.4;
			-moz-transform: translateX(2em);
		}
		40% {
			opacity: 0.8;
			-moz-transform: translateX(0px);
		}
		60% {
			opacity: 1;
			-moz-transform: translateX(-1em);
		}
		70% {
			opacity: 1;
			-moz-transform: translateX(0em);
		}
		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes horizontal {
		0% {
			opacity: 0;
		}
		5% {
			opacity: 0.4;
			-webkit-transform: translateX(2em);
		}
		40% {
			opacity: 0.8;
			-webkit-transform: translateX(0px);
		}
		60% {
			opacity: 1;
			-webkit-transform: translateX(-1em);
		}
		70% {
			opacity: 1;
			-webkit-transform: translateX(0em);
		}
		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes horizontal {
		0% {
			opacity: 0;
		}
		5% {
			opacity: 0.4;
			-ms-transform: translateX(2em);
		}
		40% {
			opacity: 0.8;
			-ms-transform: translateX(0px);
		}
		60% {
			opacity: 1;
			-ms-transform: translateX(-1em);
		}
		70% {
			opacity: 1;
			-ms-transform: translateX(0em);
		}
		100% {
			opacity: 1;
		}
	}

	@-moz-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@-webkit-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@-ms-keyframes fadeIn {
		0% {
			opacity: 0;
		}
		50% {
			opacity: 0;
		}
		100% {
			opacity: 1;
		}
	}

	@keyframes shakeHeader1 {
		0% {
			margin-left: 30%;
			padding-bottom: 0.4em;
		}
		30% {
			margin-left: 25%;
		}
		60% {
			margin-left: 35%;
		}
		100% {
			padding-bottom: 1.4em;
			margin-left: 30%;
		}
	}

	.parallax {
		position: relative;
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 300px;
		top: 0%;
		z-index: -1;
		opacity: 0.8;
		&#para1 {
			background-image: url(img/bricks.jpeg);
		}
		&#para2 {
			background-image: url(img/wires.jpeg);
			opacity: 0.5;
		}
		&#para3 {
			background-image: url(img/tree.jpeg);
			opacity: 0.4;
		}
		&#para4 {
			background-image: url(img/type.jpg);
		}
	}

	#portTop {
		width: 100%;
		padding-top: 5em;
		padding-bottom: 5em;
		margin-right: 0%;
		color: #080808;
		position: relative;
		&::after {
			content: "";
			background-image: url(img/bricks.jpeg);
			opacity: 0.5;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			position: absolute;
			background-size: cover;
			background-attachment: fixed;
			background-position: top;
			z-index: -1;
		}
		#portHead {
			font-size: 1.8em;
			width: 70%;
			margin-left: 30%;
			font-weight: 600;
			line-height: 0.8em;
			padding-bottom: 1.4em;
			animation: shakeHeader1 4s;
			-ms-animation: shakeHeader1 4s;
			-webkit-animation: shakeHeader1 4s;
		}
		#portHead2 {
			font-size: 2.4em;
			width: 100%;
			margin: 0;
			opacity: 1;
			font-weight: 600;
			text-align: center;
			line-height: 0.8em;
			animation: fadeIn 4s;
			-ms-animation: fadeIn 4s;
			-webkit-animation: fadeIn 4s;
		}
	}

	.verticalFlip {
		display: inline;
		text-indent: 6px;
		span {
			animation: vertical 6s linear infinite 0s;
			-ms-animation: vertical 6s linear infinite 0s;
			-webkit-animation: vertical 6s linear infinite 0s;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			margin-left: 0px !important;
			line-height: 0.8em;
			&:nth-child(1) {
				animation-delay: 2s;
				-ms-animation-delay: 2s;
				-webkit-animation-delay: 2s;
			}
			&:nth-child(2) {
				animation-delay: 5s;
				-ms-animation-delay: 5s;
				-webkit-animation-delay: 5s;
			}
		}
	}

	#appPane {
		background-color: #D8DAD3;
		width: 100%;
		margin: 0 auto;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		display: flex;
		border: #FDFEFC 0.2em solid;
		box-shadow: 0px 25px 60px -25px #FDFEFC;
		.appBlock {
			padding-top: 0px;
			height: auto;
			vertical-align: top;
			padding-left: 3%;
			padding-right: 3%;
			padding-top: 1%;
			padding-bottom: 1%;
			&#appText {
				width: 25%;
				order: 1;
			}
			&#appImgs {
				padding: 2%;
				background-color: #F1F2EB;
				flex: 1;
				order: 2;
				display: flex;
				align-items: center;
				text-align: center;
				box-shadow: 0px 0px 0px 6px rgba(179, 179, 179, 0.8);
				border-radius: 0.1em;
			}
			&#appLinks {
				width: 25%;
				order: 3;
				font-family: 'Roboto+Condensed', sans-serif;
				.bold {
					font-weight: 600;
				}
			}
		}
	}

	#websPane {
		width: 100%;
		margin: 0 auto;
		display: flex;
		box-shadow: 0px 25px 60px -25px black;
		#websPane1 {
			width: 44%;
			flex: 1;
			display: block;
			background-color: #D8DAD3;
			padding: 3%;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			padding-top: 1%;
			color: #020202;
			p {
				margin-bottom: 0px;
			}
		}
		#websPane2 {
			flex: 1;
			background-color: $main-maroon;
			width: 44%;
			color: #FDFEFC;
			display: block;
			padding: 3%;
			padding-top: 0;
			text-align: center;
			box-shadow: -2px 0px 4px 0px #5C1A1B;
			h3 {
				font-size: 1.4rem;
				padding-bottom: 2%;
			}
			img {
				display: block;
				border-radius: 4px;
				width: 55%;
				min-width: 220px;
				margin: 0 auto;
				margin-top: 4%;
				margin-bottom: 4%;
			}
		}
	}

	#animationPane {
		display: table;
		width: 100%;
		font-size: 1.1em;
		background-color: #F1F2EB;
		box-shadow: 0px 25px 60px -25px black;
		border-radius: 15px;
		padding-top: 1em;
		#clockPane {
			width: 38%;
			color: #020202;
			display: block;
			text-align: center;
			padding: 4%;
			padding-right: 0;
			float: left;
			background-color: #F1F2EB;
			p {
				margin-bottom: 0px;
			}
			svg {
				margin: 0 auto;
				z-index: 1;
				margin-top: 2%;
				margin-bottom: 2%;
				box-shadow: 0 0 10px 6px #020202;
			}
		}
		#gamePane1 {
			width: 46%;
			color: #020202;
			text-align: center;
			display: block;
			float: right;
			margin: 3%;
			margin-left: 0;
			padding: 1%;
			img {
				width: 80%;
				margin: 0 auto;
			}
		}
	}

	#javaPane {
		display: block;
		width: 96%;
		margin: 0 auto;
		padding: 2%;
		color: #FDFEFC;
		line-height: 1.2em;
		background: rgba(92, 26, 27, 0.95);
		border-bottom: 10px solid #F1F2EB;
		p {
			text-align: center;
			width: 73%;
			padding-bottom: 1em;
			padding-top: 1em;
			margin: 0 auto;
		}
		#javaTable {
			width: 100%;
			position: relative;
			margin: 0 auto;
			margin-top: 1em;
			display: table;
			#projectsBlock,
			#paintBlock,
			#skillsBlock {
				font-size: 0.95rem;
				display: table-cell;
				vertical-align: top;
				width: 25%;
				i {
					padding-left: 10px;
				}
				h4 {
					padding-left: 0.5em;
				}
			}
			#projectsBlock {
				height: auto;
				padding-left: 3%;
				padding-right: 2%;
				bottom: 0;
				padding-top: 3%;
				font-size: 0.9em;
			}
			#paintBlock {
				background-color: #F1F2EB;
				max-height: 11em;
				box-shadow: 0 0 10px 4px grey;
				border-radius: 0.2em;
				margin: 0;
				padding: 0;
				padding-top: 0;
				img {
					width: 99%;
				}
			}
			#skillsBlock {
				padding-right: 3%;
				padding-top: 3%;
				padding-left: 3%;
			}
		}
	}