@charset "utf-8";

/* CSS Document */

.row {
    width: 100%;
    display: flex;
    &.webs {
        margin-top: 5%;
    }
    .column {
        padding-left: 3%;
        padding-right: 3%;
        width: 30%;
    }
    &:after {
        content: "";
        display: table;
        margin: 0 auto;
        clear: both;
    }
}

.slideImg {
    width: 100%;
    box-shadow: 0 0 10px 4px grey;
    border-radius: 4px;
    margin-top: 2%;
}

#screenshots2 {
    display: none;
    font-size: 1em;
    width: 80%;
    margin: 0 auto;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    left: 0;
    border-radius: 10px;
    box-shadow: 0 0 100px 20px grey;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    height: 70%;
    bottom: 4%;
    overflow: auto;
    background-color: #020202;
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
}


/* The Close Button */

.close {
    color: #FDFEFC;
    position: absolute;
    right: 0em;
    top: 0.3em;
    font-size: 2.1rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.mySlides {
    display: none;
    background-color: #020202;
    .sliderImg {
        max-height: 67vh;
        max-width: 75%;
        left: 0;
        right: 0;
    }
}

.mySlides2 {
    display: none;
    text-align: center;
    background-color: #020202;
    .sliderImg {
        max-height: 67vh;
        max-width: 75%;
        left: 0;
        right: 0;
    }
}

.cursor {
    cursor: pointer
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    color: #FDFEFC;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0em;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0em;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a #020202 background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    top: 0.6em;
    position: absolute;
}

.caption-container {
    text-align: center;
    background-color: #020202;
    padding: 2px 16px;
    color: #FDFEFC;
}

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3)
}